body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #313131;
  box-sizing: border-box;
  font-weight: lighter;
  font-family: 'Microsoft YaHei';
  font-size:35px;
  -webkit-tap-highlight-color:transparent;
}

html {
  height:100%;
  width:100%;
}

body {
  height:100%;
  width:100%;
}
.home_body {
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  background:url(../images/1-1.jpg) no-repeat;
  background-size:100% 100%;
}
.top_tips {
  position: absolute;
  height:7.35rem;
  width:3.25rem;
  top:-1.3rem;
  right:1.6rem;
  background: url(../images/WechatIMG2.png) no-repeat;
  background-size:100% 100%;
  z-index:10;
}
.num_tip {
  position: absolute;
  left:0.48rem;
  bottom:1.1rem;
  height:0.71rem;
  width:2.5rem;
  font-size:0.6rem;
  font-family:'微软雅黑';
  font-weight:600;
  color:#a57c50;
  text-align: center;
}
.home_logo {
  background-image:url(../images/1-2.png);
  background-size:100% 100%;
  /*background-position: right center;*/
}

.item_container_style {
  height:11.625rem;
  width:13.15rem;
  background-repeat:no-repeat;
  position: absolute;
  top:4.1rem;
  left:1rem;
}

.start {
  background-image:url(../images/1-4.png);
}
.button_style {
  display:block;
  height:2.1rem;
  width:4.35rem;
  background-size:100% 100%;
  position:absolute;
  top:16.5rem;
  left:50%;
  margin-left:-2.4rem;
  background-repeat: no-repeat;
}
.question_body {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:url(../images/1-1.jpg) no-repeat;
  background-size:100% 100%;
}
.item_back {
  background-image: url(../images/2-1.png);
  background-size:100% 100%;
}
.next_item {
  background-image: url(../images/2-2.png);
}
.submit_item {
  background-image:url(../images/3-1.png);
}
.item_list_container {
  position: absolute;
  height: 7.0rem;
  width: 8.0rem;
  top: 6.4rem;
  left: 4rem;
  -webkit-font-smoothing: antialiased;
}
.item_title{
  font-size: 0.65rem;
  color: #fff;
  line-height: 0.7rem;
}
.item_list {
  font-size: 0;
  margin-top: 0.4rem;
  width: 10rem;
}
.item_list span{
  display: inline-block;
  font-size: 0.6rem;
  color: #fff;
  vertical-align: middle;
}
.item_list .option_style {
  height: 0.725rem;
  width: 0.725rem;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 0.725rem;
  text-align: center;
  margin-right: 0.3rem;
  font-size: 0.5rem;
  font-family: 'Arial';
}
.item_list .has_choosed {
  background-color: #ffd400;
  color: #575757;
  border-color: #ffd400;
}
.item_list .has_detail {
  width: 7.5rem;
  padding-top: 0.11rem;
}

.result_body {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-image:url(../images/4-1.jpg);
  padding-top:1.2rem;
  z-index:11;
}
.your_scores_container{
  width:9.7rem;
  height:9.1rem;
  background:url(../images/4-2.png) no-repeat;
  background-size:100% 100%;
  margin:0 auto 0;
  position: relative;
}
.your_scores{
  position: absolute;
  width:100%;
  text-indent:3.3rem;
  top:4.7rem;
  font-size:1.4rem;
  font-weight:900;
  -webkit-text-stroke: 0.05rem #412318;
  font-family: 'Microsoft YaHei';
}
.score_num {
  font-family: Tahoma, Helvetica, Arial;
  color: #a51d31;
}
.fenshu {
  color:#511d31;
}
.result_tip{
  position: absolute;
  top:7rem;
  width:9rem;
  left:.6rem;
  color:#3e2415;
  font-size:.65rem;
  text-align: center;
}
.share_button {
  width:6.025rem;
  height:2.4rem;
  margin: .8rem auto 0;
  background:url(../images/4-3.png) no-repeat 0.4rem 0;
  background-size:5.825rem 100%;
}
.share_code {
  width:5.3rem;
  margin:1.5rem auto 0;
}
.share_header {
  color:#664718;
  font-size:0.475rem;
  font-family:'Microsoft YaHei';
  width:7rem;
  font-weight:500;
}
.code_img {
  height:5.3rem;
  width:5.3rem;
  margin-top:.5rem;
}
.share_cover {
  position: fixed;
  bottom:0;
  right:0;
  top:0;
  left:0;
  background:url(../images/5-1.png) no-repeat;
  background-size:100% 100%;
  opacity:0.92;
}
.share_img {
  height:10.975rem;
  width:11.95rem;
  position:fixed;
  top:0.5rem;
  left:50%;
  margin-left:-5.975rem;
}
.hide_cover {
  display:none
}